
@{
    ViewBag.Title = "Index";
}

<style>
    .book {
        width: 100%;
        margin-top: 10px;
    }
</style>

<head>
    <meta charset="utf-8">
    <title>My library</title>
    <link href="~/Content/index.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div><img class="book" src="~/Images/self-improvement-books.jpg" /></div>
</body>
